@use '../variables' as *;
@use '../mixins' as *;


.slogan {
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        @include marginY0;
        @include font($font-mont, 400, 26px, 30px, #FFFFFF);
        text-transform: uppercase;
        min-width: 230px;
        max-width: 675px;
        position: relative;

        &::after {
            @include title-separator('../../images/png/line.png');
        }
    }

    &__description {
        @include marginY0;
        @include font($font-vol, 400, 15px, 20px, rgba(255, 255, 255, .8));
    }

    &__icon-cross {
        background-image: url('../../images/png/img.png');
        width: 52px;
        height: 52px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -26px;
    }
}

@media (min-width: 768px) {
    .slogan {
        &__content {
            gap: 55px;
        }

        &__title {
            @include font($font-mont, 400, 44px, 55px, #FFFFFF);
        }
    }
}